<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel='icon' href='../static/images/favicon.ico' type='image/x-icon'/ >

    <title>P2M</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/dashboard.css')}}"
    />
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/util.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css')}}"
    />
  </head>

  <body>
    <div id="wrapper">
      <div class="content-area">
        <div class="container-fluid">
          <div class="text-right mt-3 mb-3 d-fixed">
            <a href="#" class="btn btn-outline-warning mr-2" id="switchView">
              <span class="btn-text"> Switch </span>
            </a>
            <button class="btn btn-success" id="fusionexport-btn">
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
              <span class="btn-text">Download report</span>
            </button>
          </div>
          <div class="main">
            <div class="row sparkboxes mt-4">
              <div class="col-md-3">
                <div class="box box1">
                  <div class="details">
                    <h3 id="rlf">15</h3>
                    <h4>RLF</h4>
                  </div>
                  <div id="spark1"></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="box box2">
                  <div class="details">
                    <h3 id="sites">422</h3>
                    <h4>Sites</h4>
                  </div>
                  <div id="spark2"></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="box box3">
                  <div class="details">
                    <h3 id="kpis">14310</h3>
                    <h4>Kpis </h4>
                  </div>
                  <div id="spark3"></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="box box4">
                  <div class="details">
                    <h3 id="weather">1345</h3>
                    <h4>Weather </h4>
                  </div>
                  <div id="spark4"></div>
                </div>
              </div>
            </div>

            <div class="row mt-4 FirstRow">
              <div class="col-md-5">
                <div class="box shadow mt-4">
                  <div id="radialBarBottom"></div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="box shadow mt-4">
                  <div id="line-adwords" class=""></div>
                </div>
              </div>
            </div>

            <div class="row mt-4 FirstRow" >
              <div class="col-md-5">
                <div class="box shadow mt-4">
                  <div id="barchart"></div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="box shadow mt-4">
                  <div id="areachart"></div>
                </div>
              </div>
            </div>
            <div class="limiter none" id="SecondRow">      
                <div class="wrap-table100">
                  <div class="table100 ver1 m-b-110">
                    <div class="table100-head">
                      <table>
                        <thead>
                          <tr class="row100 head">
                            <th class="cell100 column1">Site ID</th>
                            <th class="cell100 column2">Prediction</th>                       
                          </tr>
                        </thead>
                      </table>
                    </div>
          
                    <div class="table100-body js-pscroll">
                      <table>
                        <tbody></tbody>
                      </table>
                    </div>
                  </div>
                </div>
            </div>
                  
          </div>
        </div>
      </div>
    </div>
    <div class="none" id="DownloadPdf">
      <div class="header">
        <h3>Radio Link Failure Report</h3>
    </div>
    <div class="title"><h3>SUP'COM</h3></div>
    <div class="rows">
        <div class="row">
            <div class="col">
                <h3>1245</h3>
                <p>Weather records present <br>
                    in the uploaded dataset</p>
            </div>
            <div class="col">
                <h3>456</h3>
                <p>Kpis records present <br>
                    in the uploaded dataset</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3>646</h3>
                    <p>Number of sites present <br>
                        in the uploaded dataset</p>
                    </div>
                    <div class="col">
                <h3>64</h3>
                <p>Possible Radio Link Failure  <br>predicted</p>
            </div>
        </div>
    </div>
    </div>
    <div id="editor"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!-- installing few libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js"></script>
      <script>
        var data={{data|tojson}}
        
        </script>
  <!--===============================================================================================-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js" integrity="sha512-s/XK4vYVXTGeUSv4bRPOuxSDmDlTedEpMEcAQk0t/FMd9V6ft8iXdwSBxV0eD60c6w/tjotSlKu9J2AAW1ckTA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
  <script src="{{ url_for('static', filename='js/dashboard.js')}}"></script>
  </body>
</html>
